@import "tailwindcss";

:root {
  --bg-1: #31301c;
  --bg-2: #6d8044;
  --bg-3: #f7ab31;
  --bg-4: #e4cd9f;
  --bg-5: rgba(109, 128, 68, 0.5);
  --bg-6: #c7c7cc;
  --bg-7: #f2f2f7;
  
 --background: var(--bg-7);
  --foreground: #171717;
}


.text-bg-1 { color: var(--bg-1); }
.text-bg-2 { color: var(--bg-2); }
.text-bg-3 { color: var(--bg-3); }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Louise Gorge Cafe', Arial, sans-serif;
}

/* Custom background color classes */
.bg-1 {
  background-color: var(--bg-1);
}
.bg-2 {
  background-color: var(--bg-2);
}
.bg-3 {
  background-color: var(--bg-3);
}
.bg-4 {
  background-color: var(--bg-4);
}
.bg-5 {
  background-color: var(--bg-5);
}
.bg-6 {
  background-color: var(--bg-6);
}
.bg-7 {
  background-color: var(--bg-7);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Font-face untuk semua varian Louis George Cafe */
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/fonts/louis_george_cafe/Louis George Cafe.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/fonts/louis_george_cafe/Louis George Cafe Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/fonts/louis_george_cafe/Louis George Cafe Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/fonts/louis_george_cafe/Louis George Cafe Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/fonts/louis_george_cafe/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/fonts/louis_george_cafe/Louis George Cafe Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html, body, * {
  font-family: 'Louis George Cafe', Arial, sans-serif !important;
}
